@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor1: #fefae0;
    --cor2: #FAEDCD;
    --cor3: #D4A373;
    --cor4: #28BAD1;
    --cor5: #3FC6B7;
    --cor6: #0c0c0c;
    --cor7: #69dc9e;
    --cor8: #222;
}
body{
    background-color: var(--cor7);
    /* width: 100%; */
}
header{
    background-color: var(--cor8);
   
    height: 144px;
    
}
header>img{
    /* float: left; */
    display: block;
    /* margin: 24px 16px 0; */
    margin: auto;
    padding: 24px 0 0;
    
}nav{
    display: block;
    margin: 8px 0;
    text-align: center;
    position: relative;
    bottom: -8px;
    
}
ul{
    list-style: none;
    /* display: inline-block; */
}
li{
    display: inline-block;

}
a{
    color: var(--cor1);
    text-decoration: none;
    font-size: 16px;
    /* background-color: aqua; */
    padding: 0 4px;
}
li>a:hover{
    color:var(--cor8);
    padding: 11px 4px;
    background-color: var(--cor1);
    transition: .2s;
    border-radius: 8px 8px 0 0;
}
section h2{
    text-align: center;
    padding: 16px 0;
}
#quem-somos{
background-color: var(--cor1);
background-image: url('../img/05-m.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
main{
    margin: auto;
    max-width: 800px;
    padding: 0 16px;
}
/*GERAIS*/
p{
    text-indent: 16px;
    text-align: justify;
    padding: 16px; 
}





















































#footer-e2{
    background-color: var(--cor8);
    height: 260px;
}

















footer{
    background-color: var(--cor2);
    height: 36px;
    position: relative;
    padding: 8px 0;
    
}
footer>p{
    /* display: block; */
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer  a{
    color: var(--cor4);
    
}
/* #des{
    height: 36px;
    background-color: var(--cor2);
} */